[Desktop Entry]
Name=Grok Desktop
Exec=/home/$USER/grok-electron/dist/GrokDesktop-1.0.0.AppImage
Icon=/home/$USER/grok-electron/iconx.png
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
